AddType video/mp4 .mp4

RewriteEngine On

<IfModule mod_rewrite.c>
	RewriteCond %{HTTPS} off
	RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	
	# RewriteCond %{HTTP_HOST} !^www\. [NC]
	# RewriteRule (.*) https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

	# Exclude /admin and /api paths from being rewritten (to access admin panel)
    RewriteCond %{REQUEST_URI} !^/admin
    RewriteCond %{REQUEST_URI} !^/api

    RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.webmanifest|\.pdf|\.txt|\.woff|\.woff2|\.mp4)$
    RewriteRule (.*) index.php [QSA,L]
</IfModule>
<filesMatch ".(ico|pdf|jpg|jpeg|webp|png|js|css|mp4)$">
    # Header set Cache-Control "max-age=31536000, public"
    Header set Cache-Control "max-age=86400, public"
</FilesMatch>